body {
  background-color: rgb(41, 41, 41);
  color: white;
}

h1 {
  margin: auto;
  text-align: center;
}

button {
  margin: 0 0 20px 50px;
}

span {
  display: flex;
}

li {
  margin-bottom: 10px;
}

#container {
    display: grid;
    grid-template-columns: 50px repeat(10, 200px);
    grid-template-rows: repeat(11, 30px);

  }
  
  .label {
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: black;
    font-weight: 600;
    border: solid, 1px, black;
  }

  input {
    background-color: rgb(41, 41, 41);
    color: white;
  }

  input:focus {
    background-color: black;
    outline: 0.5px solid gray;
    border: 1px solid gray;
  }